<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDari9Lhqd4JDEcoT_01MEsAzdQAj9wkf8</string>
	<key>GCM_SENDER_ID</key>
	<string>835667605691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-f54a5</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-f54a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835667605691:ios:365e4c61204d7e2cf5d19e</string>
</dict>
</plist>